@import url(https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css);

// Box sizing
html {
  box-sizing: border-box;
}

* {
  &,
  &:before,
  &:after {
    box-sizing: inherit;
  }
}

// No outline
* {
  outline: 0;
}

.mekk {
  color: red;
}
