@import '../tools/lists';

.drop-down {
  composes: list-inline from '../trumps/lists.scss';

  li > :first-child {
    display: block;
    cursor: pointer;
  }

  > li {
    > ul {
      @include list-bare;
      @include list-block;
      display: none;
      position: absolute;
      z-index: 100;
    }

    &:hover > ul {
      display: block;
    }
  }
}
