// Grey
$color-primary: #ededed;
$color-primary-text: #444;

// Orange
$color-secondary: #fdc816;
$color-secondary-text: $color-primary-text;

// Dark grey
$color-tertiary: #9e9c94;
$color-tertiary-text: #fff;
$color-tertiary--dark: #807d75;
$color-tertiary--dark-text: $color-tertiary-text;
$color-tertiary--light: #e9e8e6;
$color-tertiary--light-text: $color-primary-text;

$color-background: #fff;
