// Font sizes
@mixin alpha {
  font-size: 2.25rem;
}
@mixin beta {
  font-size: 1.875rem;
}
@mixin gamma {
  font-size: 1.5rem;
}
@mixin delta {
  font-size: 1.25rem;
}
@mixin epsilon {
  font-size: 1rem;
}
@mixin zeta {
  font-size: .875rem;
}
